{{ partial "header.html" . }}

<section id=content>
  <p>Below you will find pages that utilize the taxonomy term “{{ .Title }}”</p>
  <div class=posts_listing>
    {{ range .Data.Pages.ByPublishDate }}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
          <div class="entry-content">
            {{ .Content }}
          </div>
        </div>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
