<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
        {{ .Site.Title }}
      {{ else }}
        {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
      {{ end }}
    </title>

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="stylesheet" href="/css/styles.css" />

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>

  <body>
    <div class="wrapper">
    <header class="site-header">
      <h1><a href="/">Sidewalken</a></h1>
      <p>An old fashioned blog</p>
    </header>
