{{ partial "header.html" . }}

  <main>
    {{ range .Data.Pages.ByPublishDate }}
    <article>
      <header class="article-header">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </header>
    <div class="entry-content">
            {{ .Content }}
    </div>
    <footer class="article-footer">
    <time class="article-time">{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
    </footer>
    </article>
    {{ end }}
  </main>

{{ partial "footer.html" . }}
